.btn-del {
    height: 25px;
    padding: 5px;
    border-radius: 5px; 
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24); 
    cursor: pointer; 
    outline: none; 
    transition: 0.2s all; 
}

.btn-del:hover {
  background-color: rgba(236, 39, 39, 0.733);
}
.col-delete:hover {
  background-color: rgb(189, 183, 228);
}

.col-id {
  width: 1px;
}

tr:hover {
  background-color: rgb(189, 183, 228);
}