.btn-del {
    height: 30px;
    padding: 5px;
    border-radius: 5px; 
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24); 
    cursor: pointer; 
    outline: none; 
    transition: 0.2s all; 
}

.user-item {
  
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
}


.user-item-row {
  width : 100%;
  display: flex;

}

.btn-ed {
  height: 30px;
  padding: 5px;
  border-radius: 5px; 
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24); 
  cursor: pointer; 
  outline: none; 
  transition: 0.2s all; 
}
.btn-del:hover {
  background-color: rgba(236, 39, 39, 0.733);
}

.btn-ed:hover{
  background-color: rgba(124, 238, 120, 0.733);
}
.col-delete:hover {
  background-color: rgb(189, 183, 228);
}

.col-edit:hover{
  background-color: rgb(189, 183, 228);
}

tr:hover {
  background-color: rgb(189, 183, 228);
}

.name {
  width: 20%;
}

.serialNumber, .delete, .edit {
  width: 10%;
}